
body {
	
	background: url(image.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.custom-font {
	color: yellow;
}

.cool-font-big {
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 64px;
    font-weight: 200;
}

.cool-font-small {
	font-family: Helvetica Neue Light,Helvetica Neue,Helvetica,san-serif;
    font-size: 34px;
    font-weight: 200;
}